@charset "UTF-8";
/*
* @data 2020-9-24
* Author: Michelin Bao
*
* E.SUN Hackthon Michelin Rent Stylesheet
-----------------------------------
   1. Universe
   2. Card
   3. Btn
   4. Tab
   5. EachPage
-----------------------------------
*/


		/*===============================
			1. Universe
		================================*/
		html, body{
			height: 100%;
		}
		body{
			margin: 0;
			padding: 0;
			font-family: "Arial", "Helvetica","PingFangTC", "微軟正黑體","DFHei", "Microsoft JhengHei","sans-serif";
			font-size: 16px;
			color: #333;
			letter-spacing: 0.06em;
			background: #F2F6FF;
		}
		a{
			text-decoration: none;
		}
		ul, li, ol{
			padding: 0;
			margin: 0;
			list-style: none;
		}
		#pageWarpper{
			min-height: 100%;
			position: relative;
		}
		#contentWarpper{
			padding: 0 15px 98px;
		}

		/*=== Nav ===*/
		nav{
			text-align: center;
			height: 48px;
			line-height: 48px;
			width: 100%;
			position: relative;
		}
		.pageTitle{
			color: #603EF8;
			font-weight: bold;
		}
		.navFunContainer{
			position: absolute;
			top: 9px;
			width: 30px;
			height: 30px;
		}
		.navFunContainer.leftFun{
			left: 0px;
		}
		.navFunContainer.rightFun{
			right: 0px;
		}
		.navFunContainer button img{
			width: 30px;
			height: 30px;
		}

		/*=== Content ===*/
		.bgWhite{
			background-color: #FFF;
		}
		.bgYellow{
			background-color: #F7A400;
		}
		.bgPurple{
			background-color: #603EF8;
		}
		.bgLightPurple{
			background-color: #9084FF;
		}
		.titleMain{
			font-size: 18px;
			font-weight: bold;
		}
		.capsuleText{
			display: inline-block;
			height: 30px;
			line-height: 30px;
			border-radius: 15px;
			padding: 0 15px;
			color: #FFF;
		}

		/*===============================
			2. Card
		================================*/
		.cardContainer{
			background: #FFF;
			border-radius: 20px;
			box-shadow: 0 2px 10px #C8D1E5;
			padding: 20px 15px;
			position: relative;
		}
		.cardContainer.withPhoto{
			padding-top: 265px;
		}
		.cardZone{
			margin-bottom: 20px;
		}
		.cardZone:last-child{
			margin-bottom: 0;
		}
		.cardPhotoTop{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 250px;
			border-radius: 20px 20px 0 0;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
		.cardPhotoTop#rentRoom01{
			background-image: url(../images/img_houseRoom01.svg);
			background-position: bottom center;
		}
		button#btnPhoto360{
			width: 44px;
			height: 44px;
			border-radius: 50%;
			background-color: rgba(255, 255, 255, .8);
			background-image: url(../images/ic_black_360.svg);
			background-repeat: no-repeat;
			background-size: 30px;
			background-position: center;
			position: absolute;
			right: 10px;
			top: 10px;
		}
		button#btnPhoto360:hover, button#btnPhoto360:active{
			background-color: rgba(255, 255, 255, 1);
		}
		.cardTitleMainContainer{
			height: 40px;
			line-height: 40px;
			position: relative;
		}
		.cardTitleMainContainer::after{
			display: block;
			content: "";
			clear: both;
			float: none;
		}
		.cardTitleMainContainer .titleMain{
			float: left;
		}
		.cardTitleMainContainer .price{
			float: right;
			margin-top: 5px;
		}
		.capsuleText.price{
			font-weight: bold;
		}
		.capsuleText.region{
			margin: 5px 0 0;
		}
		ul.cardContentList{
			margin: 10px 0;
			padding: 0 15px;
		}
		ul.cardContentList > li{
			padding-left: 16px;
			position: relative;
			height: 40px;
			line-height: 40px;
		}
		ul.cardContentList > li.withSubList{
			height: auto;
		}
		ul.cardContentList > li::before{
			display: block;
			content: "";
			width: 6px;
			height: 40px;
			position: absolute;
			left: 0;
			top: 0;
			background-image: url(../images/ic_purple_list_front_line.svg);
			background-repeat: no-repeat;
			background-size: 6px 40px;
			background-position: center;
		}
		ul.cardContentList > li font.listTitle{
			font-weight: bold;
		}
		ul.cardContentList > li font.listContent{
			color: #555;
			margin-left: 5px;
		}
		ul.cardContentList > li > ul.cardContentSubList > li{
			height: 30px;
			line-height: 30px;
			color: #555;
		}

		/*===============================
			3. Tab
		================================*/
		.tabRadio::after{
			display: block;
			content: "";
			clear: both;
			float: none;
		}
		.tabRadio input[type="radio"]{
			display: none;
			opacity: 0;
		}
		.tabRadio label{
			display: block;
			height: 48px;
			line-height: 48px;
			box-sizing: border-box;
			border: 1px solid #603EF8;
			border-right: 0;
			float: left;
			text-align: center;
			color: #603EF8;
		}
		.tabRadio .tabRadioField:last-child label{
			border-right: 1px solid #603EF8;
		}
		.tabRadio input[type="radio"]:checked + label {
			background-color: #603EF8;
			color: #FFF;
		}
		.tabRadio.twoTab label{
			width: 50%;
		}
		.tabRadio.threeTab label{
			width: calc( 100% / 3 );
		}
		.tabRadio label.tabLeft{
			border-radius: 24px 0 0 24px;
		}
		.tabRadio label.tabRight{
			border-radius: 0 24px 24px 0;
		}
		.tabRadio label.tabMiddle{
			border-radius: 0;
		}

		/*===============================
			4. Btn
		================================*/
		button.uiStyle{
			outline: 0;
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			border: 0;
			background-color: transparent;
			padding: 0;
			margin: 0;
			text-align: center;
			box-sizing: border-box;
			width: 100%;
			color: #FFF;
			font-size: 16px;
			font-family: "Arial", "Helvetica","PingFangTC", "微軟正黑體","DFHei", "Microsoft JhengHei","sans-serif";
			letter-spacing: 0.06em;
		}
		.uiStyle.sizeS{
			height: 30px;
			line-height: 30px;
			border-radius: 15px;
		}
		.uiStyle.sizeL{
			height: 48px;
			line-height: 48px;
			border-radius: 24px;
		}
		.uiStyle.btnWhite{
			background-color: #FFF;
			border: 1px solid #603EF8;
			color: #603EF8;
		}
		.uiStyle.btnWhite:hover, .uiStyle.btnWhite:active{
			background-color: #F2F2F2;
		}
		.uiStyle.btnPurple{
			background-color: #603EF8;
		}
		.uiStyle.btnPurple:hover, .uiStyle.btnPurple:active{
			background-color: #4D2BE3;
		}

		.bottomBtnContainer{
			width: calc( 100% - 30px );
			position: fixed;
			bottom: 30px;
		}
		.bottomBtnContainer button.uiStyle{
			box-shadow: 0 0 10px rgba(96, 62, 248, .2);
		}
		.bottomBtnContainer.twoBtn::after{
			display: block;
			content: "";
			clear: both;
			float: none;
		}
		.bottomBtnContainer.twoBtn button{
			float: left;
			margin-right: 15px;
			width: calc( (100% - 15px) / 2 );
		}
		.bottomBtnContainer.twoBtn button:last-child{
			margin-right: 0;
		}

		/*===============================
			4. Each Page
		================================*/
		/*=== tenant b.1 pay ===*/
		ul.priceCountList{
			padding: 0 10px;
			border-bottom: 1px solid #6F7A93;
		}
		ul.priceCountList li{
			height: 44px;
			line-height: 44px;
			color: #6F7A93;
			font-weight: bold;
			border-bottom: 1px solid #EEEEEE;
		}
		ul.priceCountList li:last-child{
			border-bottom: 0;
		}
		ul.priceCountList li::after{
			display: block;
			content: "";
			clear: both;
			float: none;
		}
		.itemTitle{
			float: left;
		}
		.itemPrice{
			float: right;
			text-align: right;
		}
		.priceCountTotalContainer{
			padding: 0 10px;
			height: 44px;
			line-height: 44px;
			color: #603EF8;
			font-size: 20px;
			font-weight: bold;
		}
		.priceCountTotalContainer::after{
			display: block;
			content: "";
			clear: both;
			float: none;
		}

		ul.paymentList{
			margin: 15px 0;
			display: none;
		}
		ul.paymentList.show{
			display: block;
		}
		ul.paymentList li{
			margin-bottom: 15px;
		}
		ul.paymentList li:last-child{
			margin-bottom: 0;
		}
		ul.paymentList li::after{
			display: block;
			content: "";
			clear: both;
			float: none;
		}
		ul.paymentList li .paymentListLayout{
			float: left;
			width: calc( (100% - 15px) / 2);
			margin-right: 15px;
		}
		ul.paymentList li .paymentListLayout:last-child{
			margin-right: 0;
		}
		ul.paymentList li .paymentTitle{
			height: 20px;
			line-height: 20px;
			font-size: 14px;
			font-weight: bold;
			color: #6F7A93;
		}
		ul.paymentList li .paymentContent{
			height: 48px;
			line-height: 48px;
			font-weight: bold;
			padding: 0 10px;
			position: relative;
			border-bottom: 1px solid #6F7A93;2
		}
		.selectField{
			position: relative;
		}
		ul.paymentList li .paymentContent .selectField select.uiStyle,
		ul.paymentList input[type="text"]{
			outline: 0;
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			border: 0;
			background-color: transparent;
			padding: 0;
			margin: 0;
			font-size: 16px;
			font-family: "Arial", "Helvetica","PingFangTC", "微軟正黑體","DFHei", "Microsoft JhengHei","sans-serif";
			letter-spacing: 0.06em;
			height: 48px;
			line-height: 48px;
			color: #333;
			width: 100%;
		}
		ul.paymentList li .paymentContent .selectField select.uiStyle{
			padding-right: 50px;
		}
		ul.paymentList li .paymentContent .selectField::after{
			display: block;
			content: "";
			width: 30px;
			height: 30px;
			background-image: url(../images/ic_black_down_arrow.svg);
			background-repeat: no-repeat;
			background-size: 30px;
			background-position: center;
			position: absolute;
			right: 0;
			top: 9px;
		}
		ul.paymentList input[type="text"]::placeholder{
			color: #BBBBBB;
		}

		/*=== tenant a.2 booking ===*/
		.calendarContainer{
			background-color: #F7F7F7;
			width: 294px;
			margin: 0 auto;
			font-size: 14px;
			padding: 10px;
		}
		.calTitle{
			padding: 10px 0;
			color: #6F7A93;
			font-size: 22px;
			font-weight: bold;
			text-align: center;
			position: relative;
		}
		.calYear{
			font-weight: normal;
			font-size: 14px;
			position: absolute;
			right: 15px;
			bottom: 10px;
		}
		.calRow::after{
			display: block;
			content: "";
			clear: both;
			float: none;
		}
		.calRow.headRow{
			color: #6F7A93;
			border-bottom: 1px solid #AAA;
		}
		.calCell{
			float: left;
			width: 32px;
			height: 32px;
			line-height: 32px;
			border-radius: 16px;
			margin: 5px;
			text-align: center;
			color: #BBBBBB;
			cursor: default;
		}
		.able{
			color: #6F7A93;
			cursor: pointer;
		}
		.today{
			color: #603EF8;
		}
		.calCell.select{
			background-color: #603EF8;
			color: #FFF;
		}
		
		.detailTimeContainer{
			width: 310px;
			margin: 15px auto 40px;
			display: none;
		}
		.detailTimeContainer.show{
			display: block;
		}
		.timeRow{
			margin-bottom: 10px;
		}
		.timeRow:last-child{
			margin-bottom: 0;
		}
		.timeRow::after{
			display: block;
			content: "";
			clear: both;
			float: none;
		}
		.timeCell{
			float: left;
			width: 70px;
			height: 44px;
			line-height: 44px;
			border-radius: 22px;
			margin-right: 10px;
			text-align: center;
			box-sizing: border-box;
			border: 1px solid #603EF8;
			color: #603EF8;
			cursor: pointer;
		}
		.timeCell:last-child{
			margin-right: 0;
		}
		.timeCell.select{
			background-color: #603EF8;
			color: #FFF;
		}
		
		
		
		

		

		

		

		

		
