@charset "UTF-8";

/*
* @data 2020-9-24
* Author: Michelin Bao
*
* E.SUN Hackthon Michelin Rent Stylesheet
-----------------------------------
   1. Universe
   2. Card
   3. Btn
-----------------------------------
*/

.landlord_cardContainer {
    border-radius: 20px;
    position: relative;
}

.landlord_cardPhotoTop {
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 20px 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.landlord_cardPhotoTop#rentedRoom01 {
    background-image: url(../images/landlord_object_management1.png);
    background-position: bottom center;
}

.landlord_cardPhotoTop#rentedRoom02 {
    background-image: url(../images/landlord_object_management2.png);
    background-position: bottom center;
}