ul.cardContentList.gray > li::before{
	display: block;
	content: "";
	width: 6px;
	height: 40px;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url(../images/ic_gray_list_front_line.svg);
	background-repeat: no-repeat;
	background-size: 6px 40px;
	background-position: center;
}
.cardContainer.tradeQuery{
	overflow: hidden;
	padding: 12px;
	margin-bottom: 10px;
}
.checkIcon{
	height: 40px;
	width: 30px;
	margin-right: 8px;
	background-image: url(../images/ic_green_check.svg);
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: center;
	float: left;
}
.checkIcon.uncheck{
	background-image: url(../images/ic_gray_check.svg);
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: center;
}
.tradeItem{
	height: 40px;
	width: calc(100% - 166px);
	float: left;
}
.tradeDate{
	height: 20px;
	color: #555;
}
.tradeTitle{
	height: 20px;
	color: #6F7A93;
	font-size: 14px;
}
.tradeAmount{
	height: 40px;
	width: 90px;
	line-height: 40px;
	font-size: 18px;
	text-align: right;
	float: left;
}
.tradeDetail{
	height: 40px;
	width: 30px;
	margin-left: 8px;
	background-image: url(../images/ic_black_down_arrow.svg);
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: center;
	float: left;
	cursor: pointer;
}
.detailBox{
	float: left;
	width: 100%;
	border-top: 1px dashed #aaa;
	margin-top: 16px;
	display: none;
	transition: .2s;
}
.arrowRotate{
	transform: rotate(180deg);
	transition: .2s;
}
.boxshow{
	display: block;
}
ul.cardContentList > li.nextLine{
	height: auto;
}
.locationText{
	position: relative;
	padding-left: 30px;
}
.locationText::before{
	display: block;
	content: "";
	height: 30px;
	width: 30px;
	background-image: url(../images/ic_black_location.svg);
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: center;
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 3px;
}

