<div class="cardContainer">

    <div class="titleMain">租賃資訊</div>
    <ul class="cardContentList gray">
        <li>
            <font class="listTitle">租賃項目 : </font>
            <font class="listContent">帝國璽園/24F-3室</font>
        </li>
        <li>
            <font class="listTitle">租賃押金 : </font>
            <font class="listContent">52,000元</font>
        </li>
        <li>
            <font class="listTitle">房屋租金 : </font>
            <font class="listContent">26,000元/月</font>
        </li>
        <li>
            <font class="listTitle">房東姓名 : </font>
            <font class="listContent">包先生</font>
        </li>
        <li>
            <font class="listTitle">房東帳戶 : </font>
            <font class="listContent">808-********37216</font>
        </li>
    </ul>
    <div class="titleMain">付款方式：</div>
    <ul class="cardContentList">
        <li>
            <font class="listTitle">繳款日期 : </font>
            <font class="listContent">2020/09/20</font>
        </li>
        <li>
            <font class="listTitle">繳款帳戶 : </font>
            <font class="listContent">52,000元</font>
        </li>
        <li>
            <font class="listTitle">繳款金額 : </font>
            <font class="listContent">78,000元</font>
        </li>
        <li>
            <font class="listTitle">繳費約期 : </font>
            <font class="listContent">12個月</font>
        </li>
        <li>
            <font class="listTitle">每月轉帳日 : </font>
            <font class="listContent">13號</font>
        </li>
    </ul>
</div>
<div class="bottomBtnContainer">
    <button class="uiStyle sizeL btnPurple">租賃對帳查詢</button>
</div>