<div class="cardContainer">

    <div class="titleMain">賞屋預約提醒</div>
    <ul class="cardContentList">
        <li>
            <font class="listTitle">預約時間 : </font>
            <font class="listContent">9/30(五)-上午11:00</font>
        </li>
        <li>
            <font class="listTitle">房東姓名 : </font>
            <font class="listContent">包先生</font>
        </li>
        <li>
            <font class="listTitle">聯絡方式 : </font>
            <font class="listContent">09131685213</font>
        </li>
        <li class="nextLine location">
            <font class="listTitle">集合地點 : </font>
            <div class="locationText">
                <font class="listContent">台北市中山區天祥路86巷1號</font>
            </div>
        </li>
        <li class="nextLine">
            <font class="listTitle">注意事項 : </font><br>
            <font class="listContent">1.預約賞屋時間前三日內，若需臨時取消，請電話聯繫房東。
                <br>2.因目前尚有租客，看房時寵物請勿落地。</font>
        </li>
    </ul>
</div>
<div class="bottomBtnContainer">
    <button class="uiStyle sizeL btnWhite">取消預約</button>
</div>