<div class="cardContainer">
    <div class="cardZone">
        <div class="cardTitleMainContainer">
            <div class="titleMain">請選擇預約日期與時段</div>
        </div>
        <!-- <div class="calendarContainer">
            <div ui-calendar="uiConfig.calendar" class="" ng-model="eventSources"></div>

        </div> -->

        <div class="calendarContainer">
            <div class="calTitle">
                <div class="calYear">2020</div>9月
            </div>
            <div class="calRow headRow">
                <div class="calCell">日</div>
                <div class="calCell">一</div>
                <div class="calCell">二</div>
                <div class="calCell">三</div>
                <div class="calCell">四</div>
                <div class="calCell">五</div>
                <div class="calCell">六</div>
            </div>
            <div class="calRow">
                <div class="calCell"></div>
                <div class="calCell"></div>
                <div class="calCell">1</div>
                <div class="calCell">2</div>
                <div class="calCell">3</div>
                <div class="calCell">4</div>
                <div class="calCell">5</div>
            </div>
            <div class="calRow">
                <div class="calCell">6</div>
                <div class="calCell">7</div>
                <div class="calCell">8</div>
                <div class="calCell">9</div>
                <div class="calCell">10</div>
                <div class="calCell">11</div>
                <div class="calCell">12</div>
            </div>
            <div class="calRow">
                <div class="calCell">13</div>
                <div class="calCell">14</div>
                <div class="calCell">15</div>
                <div class="calCell">16</div>
                <div class="calCell">17</div>
                <div class="calCell">18</div>
                <div class="calCell">19</div>
            </div>
            <div class="calRow">
                <div class="calCell">20</div>
                <div class="calCell">21</div>
                <div class="calCell">22</div>
                <div class="calCell">23</div>
                <div class="calCell">24</div>
                <div class="calCell">25</div>
                <div class="calCell able today">26</div>
            </div>
            <div class="calRow">
                <div class="calCell able select">27</div>
                <div class="calCell able">28</div>
                <div class="calCell able">29</div>
                <div class="calCell able">30</div>
                <div class="calCell able">1</div>
                <div class="calCell able">2</div>
                <div class="calCell able">3</div>
            </div>
        </div>
    </div>

    <div class="cardZone">
        <div class="tabRadio threeTab">
            <div class="tabRadioField">
                <input type="radio" checked="checked" name="tabRadio" id="tabRadio1">
                <label class="tabLeft" for="tabRadio1">早上</label>
            </div>
            <div class="tabRadioField">
                <input type="radio" name="tabRadio" id="tabRadio2">
                <label class="tabMiddle" for="tabRadio2">下午</label>
            </div>
            <div class="tabRadioField">
                <input type="radio" name="tabRadio" id="tabRadio3">
                <label class="tabRight" for="tabRadio3">晚上</label>
            </div>
        </div>
        <div class="detailTimeContainer show" id="timeMorning">
            <div class="timeRow">
                <div class="timeCell select">10:00</div>
                <div class="timeCell">10:30</div>
                <div class="timeCell">11:00</div>
                <div class="timeCell">11:30</div>
            </div>
        </div>
        <div class="detailTimeContainer" id="timeNoon">
            <div class="timeRow">
                <div class="timeCell">13:00</div>
                <div class="timeCell">14:30</div>
                <div class="timeCell">15:00</div>
                <div class="timeCell">15:30</div>
            </div>
            <div class="timeRow">
                <div class="timeCell">16:00</div>
                <div class="timeCell">16:30</div>
            </div>
        </div>
        <div class="detailTimeContainer" id="timeNight">
            <div class="timeRow">
                <div class="timeCell">18:00</div>
                <div class="timeCell">19:30</div>
            </div>
        </div>
    </div>

</div>
<div class="bottomBtnContainer">
    <button class="uiStyle sizeL btnPurple">預約</button>
</div>