<div class="cardContainer">
    <div class="cardZone">
        <div class="cardTitleMainContainer">
            <div class="titleMain">租賃資訊：</div>
        </div>
        <ul class="cardContentList">
            <li>
                <font class="listTitle">租賃項目 : </font>
                <font class="listContent">帝國璽園/24F-3室</font>
            </li>
            <li>
                <font class="listTitle">租賃押金 : </font>
                <font class="listContent">52,000元</font>
            </li>
            <li>
                <font class="listTitle">房屋租金 : </font>
                <font class="listContent">26,000元/月</font>
            </li>
            <li>
                <font class="listTitle">房東姓名 : </font>
                <font class="listContent">包先生</font>
            </li>
            <li>
                <font class="listTitle">房東帳戶 : </font>
                <font class="listContent">808-********37216</font>
            </li>
        </ul>
    </div>
    <div class="cardZone">
        <div class="cardTitleMainContainer">
            <div class="titleMain">金額結算：</div>
        </div>
        <ul class="priceCountList">
            <li>
                <div class="itemTitle">2個月押金</div>
                <div class="itemPrice">52,000</div>
            </li>
            <li>
                <div class="itemTitle">第1個月租金</div>
                <div class="itemPrice">26,000</div>
            </li>
        </ul>
        <div class="priceCountTotalContainer">
            <div class="itemTitle">總計</div>
            <div class="itemPrice">78,000</div>
        </div>
        <button class="uiStyle sizeS btnWhite">申請小額信貸</button>
    </div>
    <div class="cardZone">
        <div class="cardTitleMainContainer">
            <div class="titleMain">選擇付款方式：</div>
        </div>
        <div class="tabRadio twoTab">
            <div class="tabRadioField">
                <input type="radio" checked="checked" name="tabRadio" id="tabRadio1">
                <label class="tabLeft" for="tabRadio1">帳戶轉帳</label>
            </div>
            <div class="tabRadioField">
                <input type="radio" name="tabRadio" id="tabRadio2">
                <label class="tabRight" for="tabRadio2">信用卡</label>
            </div>
        </div>
        <ul class="paymentList show" id="paymentAccount">
            <li>
                <div class="paymentTitle">選擇扣款帳戶</div>
                <div class="paymentContent">
                    <div class="selectField">
                        <select class="uiStyle">
							<option value="op1-1">808-0958*********</option>
							<option value="op1-2">808-8888*********</option>
						</select>
                    </div>
                </div>
            </li>
            <li>
                <div class="paymentListLayout">
                    <div class="paymentTitle">繳費約期</div>
                    <div class="paymentContent">
                        <div class="selectField">
                            <select class="uiStyle">
								<option value="op2-1">12個月</option>
								<option value="op2-2">18個月</option>
								<option value="op2-2">24個月</option>
							</select>
                        </div>
                    </div>
                </div>
                <div class="paymentListLayout">
                    <div class="paymentTitle">每月轉帳日</div>
                    <div class="paymentContent">
                        <div class="selectField">
                            <select class="uiStyle">
								<option value="op3-1">13日</option>
								<option value="op3-2">18日</option>
							</select>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="paymentList" id="paymentCredit">
            <li>
                <div class="paymentTitle">扣款卡別</div>
                <div class="paymentContent">
                    <div class="selectField">
                        <select class="uiStyle">
							<option value="op4-1">**** **** **** 6494</option>
							<option value="op4-2">**** **** **** 1313</option>
						</select>
                    </div>
                </div>
            </li>
            <li>
                <div class="paymentListLayout">
                    <div class="paymentTitle">有效期限月/年</div>
                    <div class="paymentContent">
                        <input type="text" placeholder="MM/YY">
                    </div>
                </div>
                <div class="paymentListLayout">
                    <div class="paymentTitle">CVC</div>
                    <div class="paymentContent">
                        <input type="text" placeholder="信用卡背面3碼">
                    </div>
                </div>
            </li>
            <li>
                <div class="paymentTitle">扣款方式</div>
                <div class="paymentContent">
                    <div class="selectField">
                        <select class="uiStyle">
							<option value="op5-1">一次付清</option>
							<option value="op5-2">分三期</option>
							<option value="op5-3">分六期</option>
						</select>
                    </div>
                </div>
            </li>
            <li>
                <div class="paymentListLayout">
                    <div class="paymentTitle">繳費約期</div>
                    <div class="paymentContent">
                        <div class="selectField">
                            <select class="uiStyle">
								<option value="op6-1">12個月</option>
								<option value="op6-2">18個月</option>
								<option value="op6-2">24個月</option>
							</select>
                        </div>
                    </div>
                </div>
                <div class="paymentListLayout">
                    <div class="paymentTitle">每月扣繳日</div>
                    <div class="paymentContent">
                        <div class="selectField">
                            <select class="uiStyle">
								<option value="op7-1">13日</option>
								<option value="op7-2">18日</option>
							</select>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
<div class="bottomBtnContainer">
    <button class="uiStyle sizeL btnPurple">確認繳費</button>
</div>