<div class="cardContainer tradeQuery">
    <div class="checkIcon uncheck"></div>
    <div class="tradeItem">
        <div class="tradeDate">2020/11/22</div>
        <div class="tradeTitle">水電費</div>
    </div>
    <div class="tradeAmount">6,000</div>
    <div class="tradeDetail"></div>
    <!-- hide area -->
    <div class="detailBox">
        <ul class="cardContentList gray">
            <li>
                <font class="listTitle">租賃項目 : </font>
                <font class="listContent">帝國璽園/24F-3室</font>
            </li>
            <li>
                <font class="listTitle">扣款帳戶 : </font>
                <font class="listContent">808-********13168</font>
            </li>
            <li>
                <font class="listTitle">房東姓名 : </font>
                <font class="listContent">包先生</font>
            </li>
            <li>
                <font class="listTitle">房東帳戶 : </font>
                <font class="listContent">808-********37216</font>
            </li>
        </ul>
    </div>
</div>
<div class="cardContainer tradeQuery">
    <div class="checkIcon"></div>
    <div class="tradeItem">
        <div class="tradeDate">2020/11/20</div>
        <div class="tradeTitle">房租費(自動扣繳)</div>
    </div>
    <div class="tradeAmount">26,000</div>
    <div class="tradeDetail"></div>
    <!-- hide area -->
    <div class="detailBox">
        <ul class="cardContentList gray">
            <li>
                <font class="listTitle">租賃項目 : </font>
                <font class="listContent">帝國璽園/24F-3室</font>
            </li>
            <li>
                <font class="listTitle">房屋租金 : </font>
                <font class="listContent">26,000元/月</font>
            </li>
            <li>
                <font class="listTitle">扣款帳戶 : </font>
                <font class="listContent">808-********13168</font>
            </li>
            <li>
                <font class="listTitle">房東姓名 : </font>
                <font class="listContent">包先生</font>
            </li>
            <li>
                <font class="listTitle">房東帳戶 : </font>
                <font class="listContent">808-********37216</font>
            </li>
        </ul>
    </div>
</div>
<div class="cardContainer tradeQuery">
    <div class="checkIcon"></div>
    <div class="tradeItem">
        <div class="tradeDate">2020/10/22</div>
        <div class="tradeTitle">水電費</div>
    </div>
    <div class="tradeAmount">800</div>
    <div class="tradeDetail"></div>
    <!-- hide area -->
    <div class="detailBox">
        <ul class="cardContentList gray">
            <li>
                <font class="listTitle">租賃項目 : </font>
                <font class="listContent">帝國璽園/24F-3室</font>
            </li>
            <li>
                <font class="listTitle">扣款帳戶 : </font>
                <font class="listContent">808-********13168</font>
            </li>
            <li>
                <font class="listTitle">房東姓名 : </font>
                <font class="listContent">包先生</font>
            </li>
            <li>
                <font class="listTitle">房東帳戶 : </font>
                <font class="listContent">808-********37216</font>
            </li>
        </ul>
    </div>
</div>
<div class="cardContainer tradeQuery">
    <div class="checkIcon"></div>
    <div class="tradeItem">
        <div class="tradeDate">2020/10/20</div>
        <div class="tradeTitle">房租費(自動扣繳)</div>
    </div>
    <div class="tradeAmount">26,000</div>
    <div class="tradeDetail"></div>
    <!-- hide area -->
    <div class="detailBox">
        <ul class="cardContentList gray">
            <li>
                <font class="listTitle">租賃項目 : </font>
                <font class="listContent">帝國璽園/24F-3室</font>
            </li>
            <li>
                <font class="listTitle">房屋租金 : </font>
                <font class="listContent">26,000元/月</font>
            </li>
            <li>
                <font class="listTitle">扣款帳戶 : </font>
                <font class="listContent">808-********13168</font>
            </li>
            <li>
                <font class="listTitle">房東姓名 : </font>
                <font class="listContent">包先生</font>
            </li>
            <li>
                <font class="listTitle">房東帳戶 : </font>
                <font class="listContent">808-********37216</font>
            </li>
        </ul>
    </div>
</div>
<div class="cardContainer tradeQuery">
    <div class="checkIcon"></div>
    <div class="tradeItem">
        <div class="tradeDate">2020/09/20</div>
        <div class="tradeTitle">簽約金</div>
    </div>
    <div class="tradeAmount">78,000</div>
    <div class="tradeDetail"></div>

    <!-- hide area -->
    <div class="detailBox">
        <ul class="cardContentList gray">
            <li>
                <font class="listTitle">租賃項目 : </font>
                <font class="listContent">帝國璽園/24F-3室</font>
            </li>
            <li>
                <font class="listTitle">租賃押金 : </font>
                <font class="listContent">52,000元</font>
            </li>
            <li>
                <font class="listTitle">房屋租金 : </font>
                <font class="listContent">26,000元/月</font>
            </li>
            <li>
                <font class="listTitle">扣款帳戶 : </font>
                <font class="listContent">808-********13168</font>
            </li>
            <li>
                <font class="listTitle">房東姓名 : </font>
                <font class="listContent">包先生</font>
            </li>
            <li>
                <font class="listTitle">房東帳戶 : </font>
                <font class="listContent">808-********37216</font>
            </li>
        </ul>
    </div>
</div>
<div class="bottomBtnContainer twoBtn">
    <button class="uiStyle sizeL btnWhite">關閉</button>
    <button class="uiStyle sizeL btnPurple">前往繳款</button>
</div>