<div class="cardContainer withPhoto">
    <div class="cardPhotoTop" id="rentRoom01">
        <button class="uiStyle" id="btnPhoto360"></button>
    </div>
    <div class="cardTitleMainContainer">
        <div class="titleMain">帝國璽園/24F-3室</div>
        <div class="capsuleText bgYellow price">26,000 元/月</div>
    </div>
    <div class="capsuleText bgLightPurple region">台北市 / 士林區</div>
    <ul class="cardContentList">
        <li class="withSubList">
            <font class="listTitle">房屋資訊概覽 : </font>
            <ul class="cardContentSubList">
                <li>坪數 : 48坪</li>
                <li>樓層 : 24F</li>
                <li>型態 : 電梯大樓</li>
                <li>現況 : 獨立套房</li>
            </ul>
        </li>
    </ul>
    <div id="map" data-ng-init="loadMap()"></div>
    <button class="uiStyle sizeS btnWhite">更多</button>
    <ul class="cardContentList">
        <li>
            <font class="listTitle">賞屋時間 : </font>
            <font class="listContent">9/30(五)-上午11:00</font>
        </li>
        <li>
            <font class="listTitle">房東姓名 : </font>
            <font class="listContent">包先生</font>
        </li>
        <li>
            <font class="listTitle">聯絡方式 : </font>
            <font class="listContent">0913-1685213</font>
        </li>
    </ul>



</div>
<div class="bottomBtnContainer twoBtn">
    <button class="uiStyle sizeL btnWhite">瀏覽其他物件</button>
    <button class="uiStyle sizeL btnPurple">確認租賃</button>
</div>